<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103403185971-ci6sfb8adtipvhb8qjp8f6n6qq8v6b5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103403185971-ci6sfb8adtipvhb8qjp8f6n6qq8v6b5p</string>
	<key>API_KEY</key>
	<string>AIzaSyCHDvB7VNePs1uzKdisctObzikkOVdCDAc</string>
	<key>GCM_SENDER_ID</key>
	<string>103403185971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testing.isu</string>
	<key>PROJECT_ID</key>
	<string>isuapp-f9aad</string>
	<key>STORAGE_BUCKET</key>
	<string>isuapp-f9aad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103403185971:ios:53610064b8a3a514a98046</string>
</dict>
</plist>